@model List<QueueItem>
@{

}
<form action="@Url.Action(nameof(HomeController.AddTask))" method="post">
    <button type="submit">Add Task</button>
</form>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created</th>
            <th>Started</th>
            <th>Completed</th>
            <th>Status</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var queueItem in Model)
        {
            <tr>
                <td>@queueItem.Id</td>
                <td>@queueItem.Name</td>
                <td>@queueItem.Created</td>
                <td>@queueItem.Started</td>
                <td>@queueItem.Completed</td>
                <td>@queueItem.Status</td>
                <td><pre>@queueItem.Log</pre></td>
            </tr>
        }
    </tbody>
</table>
